@using Microsoft.AspNetCore.Components.Authorization
@using Pmjay.Web.Shared

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">

            <AuthorizeRouteView RouteData="@routeData">
                <Authorizing>
                    <p style="padding:20px;">Checking authentication…</p>
                </Authorizing>

                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <p style="padding:20px;">Page not found</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>