@using Microsoft.AspNetCore.Components.Authorization
@using Pmjay.Web.Shared

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <Authorizing>
                    <p>Authorizing…</p>
                </Authorizing>
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <p>Not found</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>